.mainPage {
    position: relative;
    background-color: $Beige;
    height: 100vh;
    > p {
        font-family: 'Kalam';
        color: $Brown;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    > .blockSignin {
        position: absolute;
        bottom: 50px; 
        width: 100%;
        > hr {
            background-color: $Brown;
            width: 70%;
            border: 1px solid rgba(193, 179, 46, 0.9);
        }
    } 
}