.inputBirth {
    width: 50%;
    border: none;
    border-bottom: 2px solid $Brown;
    font-family: 'Kalam';
    color: $Brown;
    font-size: 25px;
    background-color: $Beige;
    padding: 20px;
}