Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    > h1 {
        font-family: 'Kalam';
        margin: 10px 0;
    }
    > .chevron {
        color: $DarkBlue;
        font-size: 32px;
    }
    > .setting {
        color: $DarkBlue;
        font-size: 32px;
    }
}