.blockPic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    > .circlePic {
        background-color: $DarkBlue;
        border-radius: 50%;
        border: 6px solid $LightPink;
        overflow: hidden;
        width: 140px;
        height: 140px;
        > img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}
